<!-- ko with: home -->
<div class="jumbotron">
  <img src="~/Content/critical infrastructure logo3.jpg" alt="Critical Infrastructural Services Ltd."/>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Utility Network Audit</h2>
    <p>
      Critical Infrastructural Services has been authorised by <a href="http://lasimra.org">LASIMRA</a> to conduct an audit of infrastructure throughout Lagos.
    </p>
    <p>
      For more information and to apply for a Permit for your infrastructure visit <a href="http://una.cis.ng">una.cis.ng</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <h2>About CIS</h2>
    <p>
      Critical Infrastructural Services looks after your Infrastructure needs.
      From auditing in place infrastructure through to horizontal drilling.
      Infrastructural policy and guideline development through to infrastructure management systems.
    </p>
    <!--<p data-bind="text: myHometown"></p>-->

    <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>-->
  </div>

  <div class="col-md-3">
    <h2>Physical</h2>
    <p>
      Auditing, Installation, Maintenance, Decommissioning
    </p>
  </div>

  <div class="col-md-4">
    <h2>System</h2>
    <p>Policy and guideline development and advice, Infrastructure certification, Certification systems, Infrastructure management, GIS for infrastructure</p>
  </div>
</div>
<!-- /ko -->
