<!-- ko with: home -->
<div class="jumbotron">
    <h1>CIS</h1>
    <p class="lead">Critical Infrastructural Services Ltd.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>About CIS</h2>
        <p>Critical Infrastructural Services looks after your Infrastructure needs.  From auditing in place infrastructure through to horizontal drilling.  Infrastructural policy and guideline development through to infrastructure management systems.</p>
        <!--<p data-bind="text: myHometown"></p>-->
       
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>-->
    </div>

    <div class="col-md-4">
        <h2>Physical</h2>
        <p>
            Auditing, Installation, Maintenance, Decommissioning
        </p>
    </div>

    <div class="col-md-4">
        <h2>System</h2>
        <p>Policy and guideline development and advice, Infrastructure certification, Certification systems, Infrastructure management, GIS for infrastructure</p>
    </div>
</div>

<!-- /ko -->
